@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    float: left;
}
.nav {
    float: right;
}
#hero {
    background-image:linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h2 {
    font-size: 52px;
    text-transform: uppercase;
}
#hero h2 {
    color: white;
    margin-bottom: 40px;
}
.nav li {
    display: inline-block;

}
.nav li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 3px;
    border-bottom: 4px solid white transparent;
    transition: border-bottom 0.1s, color 0.1s;
}
.nav li a:hover {
    border-bottom: 4px solid white;
    transition: border-bottom 0.1s, color 0.1s;
}
.cta {
    display: inline-block;
    margin-top: 90px;
}
.imgs {
    float: right;
    position: absolute;
    right: -135px;
}
.iphone {
    width: 85%;
    position: relative;
    margin-bottom: -240px;
}
.cta-info {
    width: 60%;
    padding-right: 150px;
    float: left;
}
.hero-para {
    font-size: 36px;
    line-height: 40px;
    font-family: 'HelveticaNeue-Thin';
    color: white;
    margin-bottom: 55px;
}
.cta-button {
    padding: 23px 35px;
    background: #282828;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
}
.cta-button:hover {
    background: #383737;
    transition: 0.3s;
}
.phone-icon {
    vertical-align: middle;
    padding-right: 20px;
}
/* App Features  */
#app-features .container {
    text-align: center;
    padding: 60px 20px;
}
#app-features h2 {
    color: #8a8a8a;
    margin-bottom: 40px;
}
.p-features {
    font-family: 'HelveticaNeue-Thin';
    font-size: 22px;
    line-height: 28px;
    padding: 0px 130px;
}
.col-4-app {
    width: 33.33%;
    float: left;
    padding: 0px 45px;
}
.col-4-app p {
    font-family: 'HelveticaNeue-Thin';
    font-size: 18px;
    line-height: 24px;   
    color: #646464;
}
.row {
    overflow: hidden;
    margin-top: 50px;
}
.row h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0;
}
/* Nose Section */
#nose {
    background-image: url('../img/nose-bg.png');
    background-size: cover;
    background-position: center;
} 
.download-info {
    width: 50%;
    padding:200px 0;
}
#nose h2 {
    margin-bottom: 40px;
    color: white;
}
.nose-p {
    font-size: 24px;
    line-height: 30px;
    font-family: 'HelveticaNeue-Thin';
    padding-bottom: 30px;
}
.download-btn {
    padding: 15px;
    background: #d9332d;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.download-btn:hover {
    background: #c33934;
    transition: 0.3s;
}
.reddish {
    color: #f55150;
}
/* Footer */
footer {
    background: #2e2e38;
}
footer .container {
    padding: 120px 20px;
}
footer h4 {
    font-size: 20px;
}
footer p {
    font-family: 'HelveticaNeue-Thin';
}
.ul-posts li {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 70px;
}
.col-4-footer {
    width: 33.33%;
    float: left;
    margin-top: 77px;
    color: white;
    padding: 30px;
}
.ul-posts,
.ul-tweets {
    margin-top: 25px;
    font-family: 'HelveticaNeue-Thin';
    list-style: none;
}
.reddish-bg {
    background: url('../img/rectangle.png') no-repeat;
    position: relative;
    right: 40px;
}
.block {
    display: block;
}
.p-about {
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
}
.ul-tweets li {
    margin-bottom: 25px;

}
.smalltext {
    font-size: 11px;
    margin-top: 5px;
}